<div class="container px-5 px-sm-o">
  <div class="row">
    <div class="col-md-3">
      <h1>User Info</h1>
          <%= image_tag @user.get_profile_image(100,100) %>
            <table class="table">
              <tbody>
                <tr></tr>
                 <tr><th>name</th>
                     <td><%= user.name %></td></tr>
                 <tr><th>introduction</th>
                     <td><%= user.introduction %></td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>