サイドバー
いいね一覧
フォロー一覧
（バレーボール基礎知識情報）

<div class="col-md-8 offset-md-1">
      <h1>My_page</h1>
          <%= image_tag @user.get_profile_image(100,100) %>
            <table class="table">
              <tbody>
                <tr></tr>
                 <tr><th>name</th>
                     <td><%= @user.name %></td></tr>
                 <tr><th>introduction</th>
                     <td><%= @user.introduction %></td></tr>
              </tbody>
            </table>
            <div class="row">
              <%= link_to edit_user_path(@user),class: 'btn btn-outline-secondary btn-block' do %>
                <i class="fa-solid fa-user-gear"></i>
              <% end %>
            </div>
          </div>
        </div>
       </div>
    