<div class="container">
  <div class="row">
    <div class="col-md-10 mt-3 mb-3" style="background-color: #FFF9EE;">
      <h2 class="text-center">フォロワー一覧</h2>
        <tbody>
           <% @users.each do |user| %>
             <tr>
               <td>
                 <p><%= image_tag user.get_profile_image(100,100) %></p>
               </td>
               <td>
                 <p><%= user.name %></p>
               </td>
               <td>
                 <p><%= link_to user_message_path(user.id) do %>
                    <i class="fa-regular fa-envelope"></i></p>
                    <% end %>
               </td>
             </tr>
            <% end %>
        </tbody>
    </div>
  </div>
</div>