<div class="container">
  <div class="headline" style="background-color: #FFF9EE;">
    <div class="catchCopy pt-2 text-center" style="background-color: #84c98b;">Volleyball_and_you</div>
      <div class="textline pt-4 pb-4 text-center">
        <h5>このサイトを通して<br >

        テレビの前で見てた方や、一人ではなかなか勇気が出なかった方など<br >

        様々な方に、生の試合の臨場感やワクワクを<br >

        感じていただけたら幸いです。<br >

        また、このサイトが<br >

        その第一歩目となる人と人を繋ぐ橋渡しになれればと思います。</h5>
      </div>
  </div>
</div>