<div class="container">
  <div class="headline" style="background-color: #FFF9EE;">
    <div class="visuallyHidden">Volleyball_and_you</div>
      <div class="text" aria-hidden="true">
        <span class="char" style="--char-index: 0">V</span>
        <span class="char" style="--char-index: 1">o</span>
        <span class="char" style="--char-index: 2">l</span>
        <span class="char" style="--char-index: 3">l</span>
        <span class="char" style="--char-index: 4">e</span>
        <span class="char" style="--char-index: 5">y</span>
        <span class="char" style="--char-index: 6">b</span>
        <span class="char" style="--char-index: 7">a</span>
        <span class="char" style="--char-index: 8">l</span>
        <span class="char" style="--char-index: 9">l</span>
        <span class="char" style="--char-index: 10">_</span>
        <span class="char" style="--char-index: 11">a</span>
        <span class="char" style="--char-index: 12">n</span>
        <span class="char" style="--char-index: 13">d</span>
        <span class="char" style="--char-index: 14">_</span>
        <span class="char" style="--char-index: 15">y</span>
        <span class="char" style="--char-index: 16">o</span>
        <span class="char" style="--char-index: 17">u</span>
      </div>
  </div>
  
  <div class="textline" style="background-color: #FFF9EE;">
        <h5>このサイトを通して<br >

        テレビの前で見てた方や、一人ではなかなか勇気が出なかった方など<br >

        様々な方に、生の試合の臨場感やワクワクを<br >

        感じていただけたら幸いです。<br >

        また、このサイトが<br >

        その第一歩目となる人と人を繋ぐ橋渡しになれればと思います。
        </h5>
  </div>