<div class="col-md-7 mt-4">
  <h1><i class="fa-regular fa-circle"></i>Volleyball_and_youとは</h1>
  　<h5 class="col -md-5 mt-4">
  　  このサイトを通して<br >
  　  
  　 テレビの前で見てた方や、一人ではなかなか勇気が出なかった方など<br >
  　 
  　 様々な方に、生の試合の臨場感やワクワクを<br >
  　 
  　 感じていただけたら幸いです。<br >
  　 
     また、このサイトが<br >
     
  　 その第一歩目となる人と人を繋ぐ橋渡しになれればと思います。
  　</h5>