<div class="aboutback">
  <div class="row" style="background-color: #F9C1CF;">
    <div class="text-center mt-4">
      <h1><i class="fa-regular fa-circle"></i>Volleyball_and_youとは</h1>
      　<h5 class="text-center">
      　  このサイトを通して<br >

      　 テレビの前で見てた方や、一人ではなかなか勇気が出なかった方など<br >

      　 様々な方に、生の試合の臨場感やワクワクを<br >

      　 感じていただけたら幸いです。<br >

         また、このサイトが<br >

      　 その第一歩目となる人と人を繋ぐ橋渡しになれればと思います。
        </h5>
      </div>
    </div>
  </div>

