<%= flash[:notice] %>
<div class="container">
    <div class="row">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
        <h1>Let's enjoy the volleyball together</h1>
        
        <div class="btn-wrapper col-10 mx-auto">
              <div class="row">
                <span class="btn btn-info btn-sm btn-block mb-3 sign_in"><%= link_to "Log in", new_user_session_path %></span>
              </div>
              <div class="row">
                <span class="btn btn-success btn-sm btn-block sign_up"><%= link_to "Sign up", new_user_registration_path %></span>
              </div>
              
            </div>
      </div>
    </div>
  </div>