<%= flash[:notice] %>
<div class="container">
    <div class="row">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
        <h1>Let's enjoy the volleyball together!!</h1>
        
        <div class="btn-wrapper col-10 mx-auto">
              <div class="row">
                <p><button type="button" class="btn sign_in btn-custom"><%= link_to "Log in", new_user_session_path %></button></p>
              </div>
              <div class="row">
                <p><button type="btn sign_up btn-custom2"><%= link_to "Sign up", new_user_registration_path %></button></p>
              </div>
              
            </div>
      </div>
    </div>
  </div>