@use '~bootstrap/scss/bootstrap';

*{
  box-sizing: border-box;
}

body{
  line-height: 2.0;
}

main{
  background-color: #ffff80 !important;
}

.sidebar-left{
  background-image: url("../images/bi4.jpeg");
  width: 3rem;
}

.sidebar-right{
  background-image: url("../images/bi4.jpeg");
  width: 3rem;
}

.cantainer{
  margin-left: auto;
}

.font-color {
  color: #fff !important;
}

.actions{
  margin-top: 1rem;
}