@use '~bootstrap/scss/bootstrap';

*{
  box-sizing: border-box;
}

body{
  line-height: 2.0;
}

main{
  background-image: url("../images/bi5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.container{
  margin-left: auto;
}

.font-color {
  color: #fff !important;
}

.actions{
  margin-top: 1rem;
}

.aboutback{
  background-color: #80808042;
  width: 50%;
  margin: 0 auto;
  box-shadow: 20px 12px 12px 0px #0000009e;
}

.catchCopy{
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  position: relative;
  animation: catchCopy .3s 1.0s ease both;
}

@keyframes catchCopy{
  0%{
    font-size: 20px;
  }
  100%{
    font-size: 40px;
  }
}

.catchCopy::before {
  content: "";
  positon: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: catchCopy background-color .3s 1s ease both;
}

@keyframes catchCopy background-color{
  0%{
    right: 100%;
  }

  100%{
    right: 0%;
  }
}

footer{
  background-color: #afafb0;
  line-height: 60px;
}

.copyright{
  text-align: center;
  font-size: 16px;
}

.flash-message{
  border-rudius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}

.flash-message.notice{
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}

.flash-message.alert{
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}