@use '~bootstrap/scss/bootstrap';

*{
  box-sizing: border-box;
}

body{
  line-height: 2.0;
}

main{
  background-image: url("../images/bi4.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.cantainer{
  margin-left: auto;
}

.font-color {
  color: #fff !important;
}

.actions{
  margin-top: 1rem;
}

.aboutback {
  /** 背景に影を付けたり、半透明な背景色をつけたり **/
  
  //background-color: #80808042;
  //width: 80%;
  //margin: 0 auto;
  //box-shadow: 10px 5px 5px #000000a3;

}