<h2>Results index</h2>

<table class="table table-hover table-inverse">
  
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
  
    <tbody>
      <% @posts.each do |one_post| %>
        <tr>
          <td><%= one_post.title %></td>
          <td><%= one_post.body %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
