<div class="container">
  <div class="row" style="background-color: #FFFEF6;">
    <h1 class="text-center">本当に退会しますか？</h1>
      <p>
        退会する場合は、「退会する」ボタンを<br >
        クリックして下さい。
      </p>
      
       <%= link_to "退会しない", posts_path, class: 'btn btn-primary ms-3' %>
       <%= link_to "退会する", withdraw_users_path, method: :patch, class: 'btn btn-danger ms-3', data: { confirm: "本当に退会しますか？"} %>
       
  </div>
</div>

